<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lotto</title>
</head>
<body>

<!--thymeleaf -->

    <h1>Wylosowanp liczby</h1>

    <!--/*@thymesVar id="numbers" type="com.bartoBox.lotto.HomeController"*/-->

    <p th:text="${numbers}">   </p>

    <h3 th:text="${numbers}"></h3>



</body>
</html>